@import url(./__inside/results__inside.css);
@import url(./__cards-wrapper/results__cards-wrapper.css);
@import url(./__cards/results__cards.css);
@import url(./__button-wrapper/results__button-wrapper.css);
@import url(./__button/results__button.css);

.results {
    padding: 80px 0;
    background-color: #f5f6f7;
}

@media screen and (max-width: 1280px) {
    .results {
        padding: 40px 0;
    }
}

@media screen and (max-width: 580px) {
    .results {
        padding: 32px 0 44px;
    }
}
