.footer {
    min-height: 80px;;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 580px) {
    .footer {
        flex-direction: column;
        align-items: unset;
        height: 224px;
        display: grid;
        grid-template-columns: 184px 1fr;
    }
}
