.results__button {
    background-color: #ffffff;
    border-radius: 80px;
    width: 288px;
}

.results__button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.results__button:active {
    opacity: 0.9;
    cursor: pointer;
}

.results__button:focus {
    opacity: 0.9;
    border: 1px solid #6d6f7a;
}
