.header__menu {
    display: flex;
}

.header__menu :not(:last-child) {
    margin-right: 34px;
}

@media screen and (max-width: 580px) {
    .header__menu :not(:last-child) {
        margin-right: 11px;
    }
}
