<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>NewsAnalyzer</title>
    <meta name="description" content="Дипломный проект Яндекс.практикум по профессии frontend-разработчик" />
    <meta name="author" content="Печуева Александра">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="<%=require('./images/A.svg').default%>" type="image/png">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.index.css %>">
</head>

<body>
    <div class="root">
        <div class="header-extended">
            <header class="header header_white root__fullwidth-section">
                <p class="logo logo_white">NewsAnalyzer</p>

                <ul class="header__menu">
                    <li>
                        <a href="./index.html"
                            class="header__menu-item header__menu-item_white header__menu-item_active header__menu-item_active_white">Главная</a>
                    </li>
                    <li>
                        <a href="./about.html" class="header__menu-item header__menu-item_white ">О проекте</a>
                    </li>
                </ul>
            </header>

            <section class="search root__fullwidth-section">
                <div class="search__panel">
                    <h1 class="search__title title">Что в мире творится?</h1>
                    <h2 class="search__subtitle">Введите в поиске любую тему и узнайте, насколько популярной
                        она была в новостях за прошедшую неделю.</h2>
                    <form name="search__form" class="search__form">
                        <input type="text" class="search__input" name="search" placeholder="Введите тему новости"
                            required="">
                        <button class="button search__button">Искать</button>
                    </form>
                </div>
            </section>
        </div>

        <section class="results">
            <div class="results__inside root__section">
                <!-- ничего не найдено -->
                <!-- <div class="not-found">
                    <img src="<%=require('./images/not-found.svg').default%>" alt="ничего не найдено"
                        class="not-found__img">
                    <h3 class="title not-found__title">Ничего не найдено</h3>
                    <h4 class="not-found__subtitle muted-text">К сожалению по вашему запросу
                        ничего не найдено.</h4>
                </div> -->

                <!--прелоадер -->
                <!-- <div class="preloader">
                    <i class="circle-preloader"></i>
                    <p class="preloader__text muted-text">Идет поиск новостей...</p>
                </div> -->

                <div class="list-header">
                    <h2 class="list-header__title title">Результаты поиска</h2>
                    <a href="./stat.html" class="list-header__link link">Посмотреть аналитику <img
                            src="<%=require('./images/arrow.svg').default%>" alt="стрелка вправо"
                            class="list-header__arrow"></a>
                </div>

                <div class="results__cards-wrapper">
                    <div class="results__cards ">
                        <div class="results-card">
                            <div class="results-card__photo" style="background-image: url('./images/image_08.png');">
                            </div>
                            <div class="results-card__content">
                                <p class="results-card__date muted-text">2 августа, 2019</p>
                                <h3 class="results-card__title title"> Национальное достояние – парки</h3>
                                <p class="results-card__text">В 2016 году Америка отмечала важный юбилей:
                                    сто лет назад здесь начала складываться система национальных парков – охраняемых
                                    территорий, где и сегодня каждый может приобщиться к природе.
                                </p>
                                <p class="results-card__source muted-text__small">Лента.ру</p>
                            </div>
                        </div>
                        <div class="results-card">
                            <div class="results-card__photo"
                                style="background-image: url('<%=require('./images/image_04.png').default%>')">
                            </div>
                            <div class="results-card__content">
                                <p class="results-card__date muted-text">2 августа, 2019</p>
                                <h3 class="results-card__title title">Лесные огоньки: история одной фотографии</h3>
                                <p class="results-card__text">Фотограф отвлеклась от освещения суровой политической
                                    реальности Мексики, чтобы запечатлеть ускользающую красоту одного
                                    из местных чудес природы.</p>
                                <p class="results-card__source muted-text__small">Медуза</p>
                            </div>
                        </div>
                        <div class="results-card">
                            <div class="results-card__photo"
                                style="background-image: url('<%=require('./images/image_07.png').default%>')">
                            </div>
                            <div class="results-card__content">
                                <p class="results-card__date muted-text">2 августа, 2019</p>
                                <h3 class="results-card__title title">«Первозданная тайга»: новый фотопроект Игоря
                                    Шпиленка</h3>
                                <p class="results-card__text">Знаменитый фотограф снимает первозданные леса России,
                                    чтобы рассказать о необходимости их сохранения. В этот раз он отправился в
                                    Двинско-Пинежскую тайгу, где...</p>
                                <p class="results-card__source muted-text__small">Риа</p>
                            </div>
                        </div>
                        <div class="results-card">
                            <div class="results-card__photo"
                                style="background-image: url('<%=require('./images/image_06.png').default%>')">
                            </div>
                            <div class="results-card__content">
                                <p class="results-card__date muted-text">2 августа, 2019</p>
                                <h3 class="results-card__title title">Национальное достояние – парки</h3>
                                <p class="results-card__text">В 2016 году Америка отмечала важный юбилей: сто лет назад
                                    здесь начала складываться система национальных парков – охраняемых территорий, где и
                                    сегодня каждый может приобщиться к природе.</p>
                                <p class="results-card__source muted-text__small">Дзен</p>
                            </div>
                        </div>
                        <div class="results-card">
                            <div class="results-card__photo"
                                style="background-image: url('<%=require('./images/image_01.png').default%>'">
                            </div>
                            <div class="results-card__content">
                                <p class="results-card__date muted-text">2 августа, 2019</p>
                                <h3 class="results-card__title title">Лесные огоньки: история одной фотографии</h3>
                                <p class="results-card__text">Фотограф отвлеклась от освещения суровой политической
                                    реальности Мексики, чтобы запечатлеть ускользающую красоту одного
                                    из местных чудес природы.</p>
                                <p class="results-card__source muted-text__small">Афиша</p>
                            </div>
                        </div>
                        <div class="results-card">
                            <div class="results-card__photo"
                                style="background-image: url('<%=require('./images/image_05.png').default%>'">
                            </div>
                            <div class="results-card__content">
                                <p class="results-card__date muted-text">2 августа, 2019</p>
                                <h3 class="results-card__title title">«Первозданная тайга»: новый фотопроект Игоря
                                    Шпиленка</h3>
                                <p class="results-card__text">Знаменитый фотограф снимает первозданные леса России,
                                    чтобы рассказать о необходимости их сохранения. В этот раз он отправился в
                                    Двинско-Пинежскую тайгу, где...</p>
                                <p class="results-card__source muted-text__small">Медиазона</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="results__button-wrapper">
                    <button class="button results__button">Показать еще</button>
                </div>
            </div>
        </section>

        <section class="author root__section">
            <img src="<%=require('./images/image_08.png').default%>" alt="фото автора" class="author__photo">
            <div class="author__about">
                <h2 class="author__title title">Об авторе</h2>
                <p class="author__about-text">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут,
                    чем вы занимаетесь, какими технологиями разработки владеете.</p>
                <p class="author__about-text">Также можно рассказать о процессе обучения в Практикуме, чему вы тут
                    научились, и чем можете помочь
                    потенциальным заказчикам.</p>
            </div>
        </section>

        <section class="footer root__section">
            <div class="copyright muted-text">&copy; 2019 Supersite</div>
            <ul class="footer-menu">
                <li>
                    <a href="./index.html" class="link footer-menu__item">Главная</a>
                </li>
                <li>
                    <a href="./about.html" class="link footer-menu__item">О проекте</a>
                </li>
                <li>
                    <a href="https://praktikum.yandex.ru/" class="link footer-menu__item">Яндекс.Практикум</a>
                </li>
            </ul>

            <div class="footer-links">
                <a href="https://www.github.com/" class="footer-links__item">
                    <img src="<%=require('./images/github.svg').default%>" alt="github" class="footer-links__icon">
                </a>

                <a href="https://www.facebook.com/" class="footer-links__item">
                    <img src="<%=require('./images/facebook.svg').default%>" alt="facebook" class="footer-links__icon">
                </a>
            </div>
        </section>
    </div>
    <script src="<%= htmlWebpackPlugin.files.chunks.index.entry %>"></script>
</body>

</html>